.blogs {
  padding: 112px 0 72.28px;
  overflow: hidden;
  position: relative;
}



.blog-boxs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 1024px) {
  .blog-boxs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .blog-boxs {
    grid-template-columns: 1fr;
  }
}
