.main__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Small screens */
@media (min-width: 768px){
  .main__container {
      width: 750px;
  }
}

/* Medium screens */
@media (min-width: 992px){
  .main__container {
      width: 970px;
  }
}

@media (min-width: 1200px) {
  .main__container {
      width: 1170px;
  }
}