.reviews {
  padding: 50px 0;
  /* overflow: hidden; */
  position: relative;
}

.reviews .review-boxs {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}


.reviews .review-boxs::-webkit-scrollbar {
  width: 15px;
  height: 12px;
}

.reviews .review-boxs::-webkit-scrollbar-thumb {
  background: #A08040;
  border-radius: 20px;
}

/* @media (max-width: 992px) {
  .reviews .review-boxs {
    flex-direction: column;
  }
} */